<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire-candidates="*Repository">

    <bean id="repositoryWrapperPostProcessor" class="com.company.RepositoryWrapper.PostProcessor"/>

    <beans profile="dev">
        <bean id="fooRepository" class="com.company.FooRepositoryFactoryBean" autowire-candidate="default"/>
    </beans>

    <beans profile="prod">
        <bean id="fooRepository" class="com.company.JpaFooRepository"/>
    </beans>
</beans>